@import "tailwindcss";

:root {
  --background: #FFF8F0;
  --card: #FFFFFF;

  --headline: #4B2E2B;
  --primary: #8C5A3C;
  --accent: #C08552;

  --navbar: #4B2E2B;
  --footer: #4B2E2B;
}

body {
  background-color: var(--background);
  color: var(--headline);
}